{% extends 'base.html'%}

{% block content %}
<div class='container'>
    <br>
    <h2>Orders</h2>
    <br>
    <table class='table thead-light table-hover'>
        <thead class='thead-light'>
            <tr>
                <th scope='col'>Date</th>
                <th scope='col'>Order ID</th> 
                <th scope='col'>Amount, RUR</th>
                <th scope='col'>Status</th>
            </tr>
        </thead>

    {% for order in order_list %}

        <tr>
            <th>{{ order.created_at }}</th>
            <th><a href="{% url 'orders:order_detail' pk=order.pk %}">{{ order.id }}</a></th>
            <th>{{ order.get_total }}</th>
            <th>Ordered</th>
        </tr>

    {% endfor %}
    

    </table>
</div>

{% endblock %}