{% extends 'base.html'%}

{% block content %}
<div class='container'>
    <div class='jumbotron'>
        <h2>Order №{{ object.id }} detail</h2>
    </div>
<table class='table thead-light table-hover'>
    <thead class='thead-light'>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Good Title</th> 
            <th scope='col'>Price, RUR</th> 
            <th scope='col'></th>
            <th scope='col'>Quantity</th> 
            <th scope='col'></th>
            <th scope='col'>Amount, RUR</th>
            <th scope='col'></th>
        </tr>
    </thead>
    {% for order_good in object.goods.all %}
    <tr>
        <th scope='row'>{{ forloop.counter }}</td>
        <td>{{ order_good.good.title }}</td>
        <td>{{ order_good.good.price }}</td>
        <td><a class='btn btn-success' role='button' href="{% url 'orders:minus_qty' pk=order_good.good.pk %}">-</a></td>
        <td>{{ order_good.quantity }}</td>
        <td><a class='btn btn-success' role='button' href="{% url 'orders:plus_qty' pk=order_good.good.pk %}">+</a></td>
        <td>{{ order_good.get_amount }}</td>
        <td><a class='btn btn-secondary' role='button' href="{% url 'orders:remove_from_cart' pk=order_good.good.pk %}">Remove</a></td>

    </tr>
    {% endfor %}
</table>

<h4>Total: {{ object.get_total }} RUR</h4>

<a class='btn btn-info' role='button' href="#">CheckOut</a>

</div>

{% endblock %}