{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <div class='row'>
        {% for item in good_list %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ item.pic.url }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}