{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='container'>
            <h3>{{ good.title }}</h3>
            <div class='col-md=4'>
                <img height=450px width=450px src="{{ good.pic.url }}" alt="Card image cap">
            </div>
            <div class='col-md-8'>
                <p>{{ good.description }}</p>
            </div>
            {% if user.is_staff %}
            <a class='btn btn-outline-primary' href="{% url 'goods:update' pk=good.pk %}">Update</a>
            <a class='btn btn-outline-primary' href="{% url 'goods:remove' pk=good.pk %}">Delete</a>
            {% endif %}
            <a href="#" class="btn btn-primary">Buy</a>
</div>

{% endblock %}