{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class='row'>
        {% for good in good_list %}
        <div class="card col-lg-3 m-2" style="width: 18rem;">
            <a href="{% url 'goods:detail' pk=good.pk %}">
                <img class="card-img-top" height=170px width=50px src="{{ good.pic.url }}" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ good.title }}</h5>
              <a href="{% url 'orders:add_to_cart' pk=good.pk %}" class="btn btn-primary">Buy</a>
            </div>
        </div>
        {% endfor %}
    </div>
    

{% endblock %}