{% extends 'base.html' %}

{% block content %}



<div class='jumbotron'>
    <h2>Our Delivery Options</h2>
    <br>
    <br>
    <div>
        <h4>1. Courier Delivery</h4>
        <br>
            <p>We are pleased to offer tracked delivery across the country.</p>
            <p>The cost is the same for all cities - 400 RUR!</p>
    </div>
    <br>
</div>
<div class='jumbotron'>

    <div>
        <h4>2. Pickup Points</h4>
        <br>
            <p>Available in Moscow only.</p>
            <p>Visit one of our three stores to pick up your order at a convenient time.</p>
            <p>It will cost you only 100 RUR!</p>

    </div>
    <br>
</div>

{% endblock %}